In [2]:
import pandas as pd

# Extração dos dados da filial 1 (CSV)
vendas_filial1 = pd.read_csv('vendas_filial1.csv')

# Extração dos dados da filial 2 (Excel)
vendas_filial2 = pd.read_excel('vendas_filial2.xlsx')

# Transformações
# Podemos fazer transformações adicionais aqui, se necessário

# Visualização dos dados
print("\nDados da Filial 1: ")
print(vendas_filial1.head())

print("\nDados da Filial 2: ")
print(vendas_filial2.head())

# Transformação dos dados: Calcular o valor total de vendas para cada filial
vendas_filial1['Valor Total'] = vendas_filial1['Quantidade Vendida'] * vendas_filial1['Preço Unitário']
vendas_filial2['Valor Total'] = vendas_filial2['Quantidade Vendida'] * vendas_filial2['Preço Unitário']

# Visualizar os dados transformados
print("Dados Transformados da Filial 1 :")
print(vendas_filial1.head())

print("\nDados Transformados da Filial 2 :")
print(vendas_filial2.head())

# Carregamento dos daods transformados para um arquivo CSV
vendas_filial1.to_csv('vendas_filial1_transformadas.csv', index=False)
vendas_filial2.to_csv('vendas_filial2_transformadas.csv', index=False)

# Apresentar os dados carregados dos arquivos CSV
dados_filial1 = pd.read_csv("vendas_filial1_transformadas.csv")
dados_filial2 = pd.read_csv("vendas_filial2_transformadas.csv")

print("Dados Transformados da Filial 1 (do arquivo CSV)")
print(dados_filial1.head())

print("\nDados Transformados da Filial 2 (do arquivo CSV)")
print(dados_filial2.head())

Dados da Filial 1:
   ID do Produto                 Nome do Produto  Quantidade Vendida  \
0            201        Notebook HP Spectre x360                  25
1            202           Celular iPhone 13 Pro                  35
2            203    Tela Acer Predator 35" Curva                  20
3            204  Teclado Razer BlackWidow Elite                  30
4            205       Mouse Razer DeathAdder V2                  15

   Preço Unitário
0          1600.0
1          1200.0
2           700.0
3           250.0
4            90.0

Dados da Filial 2:
   ID do Produto                  Nome do Produto  Quantidade Vendida  \
0            301   Scanner Epson WorkForce DS-870                  15
1            302        HDD Seagate Barracuda 2TB                  20
2            303          Microsoft Surface Pro 8                  10
3            304  Smartwatch Apple Watch Series 7                  22
4            305          Headset HyperX Cloud II                  32

   Preço Unitário
0           300.0
1           150.0
2          1000.0
3           400.0
4           250.0
Dados Transformados da Filial 1 :
   ID do Produto                 Nome do Produto  Quantidade Vendida  \
0            201        Notebook HP Spectre x360                  25
1            202           Celular iPhone 13 Pro                  35
2            203    Tela Acer Predator 35" Curva                  20
3            204  Teclado Razer BlackWidow Elite                  30
4            205       Mouse Razer DeathAdder V2                  15

   Preço Unitário  Valor Total
0          1600.0      40000.0
1          1200.0      42000.0
2           700.0      14000.0
3           250.0       7500.0
4            90.0       1350.0

Dados Transformados da Filial 2 :
   ID do Produto                  Nome do Produto  Quantidade Vendida  \
0            301   Scanner Epson WorkForce DS-870                  15
1            302        HDD Seagate Barracuda 2TB                  20
2            303          Microsoft Surface Pro 8                  10
3            304  Smartwatch Apple Watch Series 7                  22
4            305          Headset HyperX Cloud II                  32

   Preço Unitário  Valor Total
0           300.0       4500.0
1           150.0       3000.0
2          1000.0      10000.0
3           400.0       8800.0
4           250.0       8000.0
Dados Transformados da Filial 1 (do arquivo CSV)
   ID do Produto                 Nome do Produto  Quantidade Vendida  \
0            201        Notebook HP Spectre x360                  25
1            202           Celular iPhone 13 Pro                  35
2            203    Tela Acer Predator 35" Curva                  20
3            204  Teclado Razer BlackWidow Elite                  30
4            205       Mouse Razer DeathAdder V2                  15

   Preço Unitário  Valor Total
0          1600.0      40000.0
1          1200.0      42000.0
2           700.0      14000.0
3           250.0       7500.0
4            90.0       1350.0

Dados Transformados da Filial 2 (do arquivo CSV)
   ID do Produto                  Nome do Produto  Quantidade Vendida  \
0            301   Scanner Epson WorkForce DS-870                  15
1            302        HDD Seagate Barracuda 2TB                  20
2            303          Microsoft Surface Pro 8                  10
3            304  Smartwatch Apple Watch Series 7                  22
4            305          Headset HyperX Cloud II                  32

   Preço Unitário  Valor Total
0           300.0       4500.0
1           150.0       3000.0
2          1000.0      10000.0
3           400.0       8800.0
4           250.0       8000.0

In [3]:
import sqlite3

#Criar uma conexão com o banco de dados
conn = sqlite3.connect('dados_transformados.db')

# Carregar os dados transformados para tabelas SQL
vendas_filial1.to_sql('vendas_filial1_transformadas', conn, index=False, if_exists='replace')
vendas_filial2.to_sql('vendas_filial2_transformadas', conn, index=False, if_exists='replace')

# Apresentar os dados carregados das tabelas SQL
dados_filial1 = pd.read_sql("SELECT * FROM vendas_filial1_transformadas", conn)
dados_filial2 = pd.read_sql("SELECT * FROM vendas_filial2_transformadas", conn)

print("Dados Transformados da Filial 1 (do banco de dados SQL)")
print(dados_filial1.head())

print("Dados Transformados da Filial 2 (do banco de dados SQL)")
print(dados_filial2.head())

# Fechar a conexão com o banco de dados
conn.close()

Dados Transformados da Filial 1 (do banco de dados SQL)
   ID do Produto                 Nome do Produto  Quantidade Vendida  \
0            201        Notebook HP Spectre x360                  25
1            202           Celular iPhone 13 Pro                  35
2            203    Tela Acer Predator 35" Curva                  20
3            204  Teclado Razer BlackWidow Elite                  30
4            205       Mouse Razer DeathAdder V2                  15

   Preço Unitário  Valor Total
0          1600.0      40000.0
1          1200.0      42000.0
2           700.0      14000.0
3           250.0       7500.0
4            90.0       1350.0
Dados Transformados da Filial 2 (do banco de dados SQL)
   ID do Produto                  Nome do Produto  Quantidade Vendida  \
0            301   Scanner Epson WorkForce DS-870                  15
1            302        HDD Seagate Barracuda 2TB                  20
2            303          Microsoft Surface Pro 8                  10
3            304  Smartwatch Apple Watch Series 7                  22
4            305          Headset HyperX Cloud II                  32

   Preço Unitário  Valor Total
0           300.0       4500.0
1           150.0       3000.0
2          1000.0      10000.0
3           400.0       8800.0
4           250.0       8000.0

In [4]:
import sqlite3

# Criar uma conexão com o banco de dados
conn = sqlite3.connect('dados_transformados.db')

# Criar um cursor para executar consultas SQL
cursor = conn.cursor()

# Executar uma consulta SQL para obter os dados da tabela de vendas_filial_transformadas
cursor.execute('SELECT * FROM vendas_filial1_transformadas')

# Obter os resultados da consulta
dados_filial1 = cursor.fetchall()

# Exibir os dados da filial 1
print("Dados Transformados fa Filial 1: ")
for linha in dados_filial1:
  print(linha)

# Executar uma consulta SQL para obter os dados da tabela vendas_filial2_transformadas
cursor.execute('SELECT * FROM vendas_filial2_transformadas')

# Obter os resultados da consulta
dados_filial2 = cursor.fetchall()

# Exibir os dados da filial 2
print("\nDados Transformados fa Filial 2: ")
for linha in dados_filial2:
  print(linha)

# Fechar o cursor e a conexão com o banco de dados
cursor.close()
conn.close()

Dados Transformados fa Filial 1:
(201, 'Notebook HP Spectre x360', 25, 1600.0, 40000.0)
(202, 'Celular iPhone 13 Pro', 35, 1200.0, 42000.0)
(203, 'Tela Acer Predator 35" Curva', 20, 700.0, 14000.0)
(204, 'Teclado Razer BlackWidow Elite', 30, 250.0, 7500.0)
(205, 'Mouse Razer DeathAdder V2', 15, 90.0, 1350.0)

Dados Transformados fa Filial 2:
(301, 'Scanner Epson WorkForce DS-870', 15, 300.0, 4500.0)
(302, 'HDD Seagate Barracuda 2TB', 20, 150.0, 3000.0)
(303, 'Microsoft Surface Pro 8', 10, 1000.0, 10000.0)
(304, 'Smartwatch Apple Watch Series 7', 22, 400.0, 8800.0)
(305, 'Headset HyperX Cloud II', 32, 250.0, 8000.0)